<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
    <title>MI PRIMER BLOG.</title>
</head>
<body>
    <h1>¡Bienvenidos a mi Primer Blog con Django!</h1>
    <p>Este es el inicio de mi sitio web, donde sabrán mas sobre mi.</p>
    <section>
        <ul>
            <li><a href="{% url 'sobreMi' %}">Sobre Mi</a></li>
            <li>Sobre Python</li>
            <li>Sobre Django</li>
        </ul>
    </section>
    <section>
        <ul>
            {% for pub in publicacion %}
                <div class="pub">
                    <li>{{pub.titulo}}: {{pub.contenido}}</li>
                </div>
                {% empty %}
                <p>No hay más publicaciones.</p>
            {% endfor %}
        </ul>
    </section>
    <footer>
        <p>--by: Daniel Emilio León Ortega. 2025--</p>
    </footer>
</body>
</html>