<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
    <h1>Lista de Posts</h1>
    {% for post in posts %}
        <article>
            <h2>{{ post.titulo }}</h2>
            <p>{{ post.contenido|truncatewords:30 }}</p>
            <small>Autor: {{ post.autor }} | Fecha: {{ post.fecha_creacion }}</small>
        </article>

        <article>
            <h2>{%if post.autor == "admin" %}</h2>
            <p>El {{ post.titulo }} SI pertenece al autor {{ post.autor }}.</p>
        </article>

        <hr>
    {% empty %}
        <p>No hay posts publicados aún.</p>
    {% endfor %}

    <section>
        <button type="button">Leer más..</button>
    </section>
</body>
</html>
