<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sobre Mi.</title>
</head>
<body>
    <section>
        <h1>Sobre Mi</h1>
        <p>
            - Mi nombre es Daniel Emilio León Ortega.<br>
            - Ecuatoriano.<br>
            - Ingeniero en Sistemas.<br>
            - En la Universidad aprendí Java, lo domino poco, porque me interesó Python y lo estudio
              de manera autodidacta.<br>
            - De Python se lo fundamental de: fundamentos, manejo de archivos, excepciones, POO, etc.<br>
            - Trabajé en otros campos, pero desde hoy mi objetivo es trabajar como dev web (Django).<br>
            - Estoy aprendiendo Django porque quiero dedicarme al desarrollo web y
              porque es un framework poderoso para trabajar en esa área.<br>
            - Me gusta jugar futbol, entrenar, leer, escuchar música, salir y estar con amigos,
              ser sociable, pasar en familia, etc.<br>
        </p>
        <a href="/">Volver al inicio.</a>
    </section>
    <footer>
            <p>--by: Daniel Emilio León Ortega. 2025--</p>
    </footer>
</body>
</html>