<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sobre Mi.</title>
</head>
<body>
    <section>
        <h1>Sobre Mi</h1>
        <p>
            - Mi nombre es Daniel Emilio León Ortega.<br>
            - Ecuatoriano.<br>
            - Ingeniero en Sistemas.<br>
            - De Python se lo fundamental de: fundamentos, manejo de archivos, excepciones, POO, .<br>
            - Trabajé en otras ramas pero desde hoy mi objetivo es trabajar con Django.<br>
            - Me gusta jugar futbol, entrenar, leer, escuchar música, ser sociable, pasar en familia, etc.<br>
        </p>
    </section>
    <footer>
            <p>--by: Daniel Emilio León Ortega. 2025--</p>
    </footer>
</body>
</html>