<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
</head>
<body>
    <h1>Lista de Posts</h1>
    {% for post in posts %}
        <article>
            <h2>{{ post.titulo }}</h2>
            <p>{{ post.contenido|truncatewords:30 }}</p>
            <small>Autor: {{ post.autor }} | Fecha: {{ post.fecha_creacion }}</small>
            <section>
                {% if post.autor == "admin" %}
                    <b><p>El Post {{ post.titulo }} SI pertenece a {{ post.autor }}</p></b>
                {% else %}
                    <p>El Post {{ post.titulo }} NO pertenece a admin</p>
                {% endif %}
            </section>
        </article>
        <hr>
    {% empty %}
        <p>No hay posts publicados aún.</p>
    {% endfor %}

    <section>
        <button type="button">Leer más..</button>
    </section>
</body>
</html>